<h2><%=@task.name%> </h2>


<br><br>

<h4> <%= @task.summary%> </h4>

<br> <br>

<% @task.categories.each do |cgory|%>
  <ul>
    <li><%=cgory.name%></li>
  </ul>
<%end%>

<form action = "/tasks/<%=@task.id%>/edit" method = "GET">
  <input type = "hidden" name = "_method" value = "PATCH">
  <input type = "submit" value = "Edit Task">
</form>

<form action = "/tasks/<%=@task.id%>/delete" method = "GET">
  <input type = "hidden" name = "_method" value = "DELETE">
  <input type = "submit" value = "Delete Task">
</form>
